# TODO: Conectar con plataforma de email marketing (Mailchimp, ActiveCampaign, etc.)
# VITE_EMAIL_API_KEY=tu_api_key_aqui

# TODO: Pixel de Facebook Ads para tracking de conversiones
# VITE_FB_PIXEL_ID=tu_pixel_id_aqui

# URL de compra Hotmart (ya configurada)
VITE_HOTMART_URL=https://pay.hotmart.com/G107179617M